.sidebarList {
    display: flexbox;
    flex-direction: column;
    padding: 0;
}
.sidebarList li{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    padding: 10px 0px 10px 30px;
    margin-top: 5px;
}

.sidebarList li:hover {
    background-color: #e5e7eb;
    border-radius: 8px;
    cursor: pointer;
}