.sidebarList {
    display: flexbox;
    flex-direction: column;
    margin-top: 40px;
    padding: 0;
}
.sidebarList li{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    padding: 10px 0px 10px 30px;
    margin-top: 5px;
}

.sidebarList li:hover, .sidebarList li button:hover {
    background-color: #ffd966;
    border-radius: 5%;
    color: white;
    cursor: pointer;
}

@media (max-width: 640px){
    .sidebarList li{
        font-size: 0.9rem;
        padding: 0 0 0 10px;
    }
}