@import "tailwindcss";
.recharts-default-legend li:hover {
  background-color: transparent;
  cursor: default;
  outline: 2px solid orange;
}
.rechars-wrapper:focus,
.recharts-wrapper *:focus{
    outline:3px solid orange;
}